<div class="form-wrapper">
    <%= link_to "<< Back to List", {:action => 'index'}, class: "btn btn-primary" %>
    <h2>Update Subject</h2>
    <%= form_for :subject, :url => {:action => 'update', :id => @subject.id },html: {class: "form-horizontal"} do |f| %>

    <%= render :partial => 'form', :locals => {:f => f} %>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Update Subject", :class => 'btn btn-primary' %>
        </div>
    </div>
    <% end %>
</div>
